@{
    ViewBag.Title = "Create Service";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ServiceFormPartial" />


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}