@using LAAuto.Services.Services
@using LAAuto.Services.Impl.Services
@using LAAuto.Web.Models.Services

@model List<ServiceViewModel>

<div>
    <a class="ml-2 btn btn-primary" asp-controller="Service" asp-action="Create">Create</a>
</div>

<br />

<div class="position-relative">
    <div class="row">
        @foreach (var service in Model)
        {
            <partial name="ServicePartial" model="@service" />
        }
    </div>
</div>