@using LAAuto.Services.Services
@using LAAuto.Services.Impl.Services
@using LAAuto.Web.Models.Services

@model List<ServiceViewModel>

<div class="row">
    @foreach (var service in Model)
    {
        <partial name="ServicePartial" model="@service" />
    }
</div>