@using LAAuto.Web.Models.Categories;

@model List<CategoryViewModel>

<h2 class="text-center">All categories</h2>

<table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"> 
          <a class="ml-2 btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Create">Create</a>
      </th>
    </tr>
  </thead>
  <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
                   <tr>
                     <th scope="row">@(i + 1)</th>
                     <td>@Model[i].Name</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td>
                              <a class="ml-2 btn btn-danger" asp-area="Admin" asp-controller="Category" asp-action="Delete"
                             asp-route-id="@Model[i].Id">Delete</a>
                     </td>
                   </tr>
        }
  </tbody>
</table>